header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    background-color: dodgerblue;
    color:white;
    font-family: courier;
    height:45px;
}

nav{
    height:38px;
    background-color:aqua;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    text-decoration: none;
    color:red;
    font-size: 22px;
}

a:hover{
    color:green;
    border-bottom: 1px solid red;
}

article{
    display: flex;
    justify-content: space-between;
    height:50vh;
    align-items: center;
}

.para{
    width:70%;
    height:100%;
}

article p{
    font-size: 19px;
    text-align: justify;
    padding-left: 10px;;
    padding-right: 10px;
}

.logo{
    background-image: url("logo.jpg");
    background-size: cover;
    height:80%;
    width:22%;
    margin-right: 22px;
}

.founderDetail{
    border:1px solid black;
    width:80%;
    text-align: justify;
    margin-top: 10px;
}

.founderDetail h2{
    padding-left:10px ;
    font-family: 'Times New Roman', Times, serif
}

.founderDetail p{
    font-size: 20px;
    padding-left:10px ;
    padding-right: 10px;
}

.company-aside{
    border-left: 3px solid orangered;
}

.company-aside ul li{
    font-size: 18px;
}


#outerFormDiv{
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    height:85vh;
}

form h2{
    text-align: center;
    font-size: 26px;
    font-family:'Times New Roman', Times, serif"
}

.innerFormDiv{
    border:1px solid black;
    width:50%;
    display: flex;
    justify-content: center;
}

.innerFormDiv label {
    font-size: 20px;
}

.innerFormDiv input{
    height: 20px;
}

.innerFormDiv div{
    margin-top: 10px;
}

.formRow select{
    width:35%;
    height:22px;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

button{
    background-color: #2196F3;
    width:50%;
    border:none;
    height:25px;
    font-size: 20px;
    color:white;
}

button:hover{
    cursor: pointer;
}

.formRow{
        display: grid;
        grid-template-columns: 160px 1fr;
        
    }

    .genderRow{
        display: grid;
        grid-template-columns: 160px 1fr;
        align-items: center;
    }

    .genderRow label{
        align-self: center;
    }

    .genderOptions{
        display: flex;
        align-items: center;
        gap:10px
    }

    .genderOption{
        display: flex;
        align-items: center;
    }

    .formRow select{
        width:80%;
    }

    form .btn{
        margin-top: 5vh;
        
    }

footer{
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    margin-top: 20px;
}

@media(max-width:1200px){
    article{
        width:100%;
        display: flex;
        flex-direction: row;
        height:auto
    }

    .para{
        width:100%;

    }

    .para p{
         font-size: 16px;
    }

    .logo{
        display: none;
    }

    .founderDetail{
        width:100%;
    }

    .innerFormDiv{
        width:100%;
        background-color: #0466c8;
        
    }

    .innerFormDiv h2{
        color:white;
        font-family: 'Times New Roman', Times, serif;
    }

    .formRow{
        display: grid;
        grid-template-columns: 160px 1fr;
    }

    .genderRow{
        display: grid;
        grid-template-columns: 160px 1fr;
        align-items: center;
    }

    .genderOptions{
        display: flex;
        align-items: center;
    }

    .genderOption{
        display: flex;
        align-items: center;
    }

    .formRow select{
        width:80%;
    }

    form .btn{
        margin-top: 10vh;
        
    }

    form button{
        width:70%;
        background: linear-gradient(to right,coral,red);
    }
}